
.lead__image{
    max-width: 100%;
    padding: 0;
    margin: 64px 0 0;
    object-fit: cover;
    
}



@media screen and (max-width: 767px){
    .lead__image{
        margin: 40px 0 0;
    }
}
    