@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__link/cover__link.css');
@import url('./__overlay/cover__overlay.css');

.cover{
    max-width: 1184px;
    min-height: 740px;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}