
.footer__links-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 600px){
    .footer__links-list{
        flex-direction: column;
        
        
    }
}