
@import url('./__image/place__image.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__website/place__website.css');
@import url('./__texts/place__texts.css');

.place{
    
    margin: 80px auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
}

.place:first-child{
    margin: 0 auto 0;
}

@media screen and (max-width: 1279px){
    .place{
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
    }

}

@media screen and (max-width: 1023px){
    .place{
        grid-template-columns: 340px 1fr;
        grid-gap: 48px 28px;
    }

}

@media screen and (max-width: 767px){
    .place{
        max-width: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

@media screen and (max-width: 320px){
    .place{
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}