

.intro__title{
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 690px;
}




@media screen and (max-width: 430px){
    .intro__title{
        
        font-size: 18px;
        line-height: 22px;
        padding-right: 80px;



    }
}